*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parallax{
  height: 100vh;
}

section{
  height: 100vh;
}

#section1{
  background-image: url('./bgimg0.jpg');
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }

.beautiful-background{
  width: 50%;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 20px #8f8f8f;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
}
  input{
    width: 100%;
    border: none;
    height: 40px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
  }
.list{
  margin: auto;
  top: 50%;
  transform: translateY(50%);
}

table{
  width: 100%;
  text-align: center;
}

button{
  padding: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #8f8f8f;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
}